/* Posts */

#posts {
  .link-to {
    position: relative;
    top: -4.5em;
  }

  .link-container h4 {
    text-decoration: none;
    border-bottom: none;
    display: inline-flex;

    a {
      padding: 0 0.5em;
      margin: 0;
    }
  }

  .postslist {
    .title {
      text-align: center;
      margin-bottom: 2em;
    }
  }

  .compilations {

    // margin-bottom: 2em;
    .title {
      text-align: center;
    }

    .compilation-container {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      padding-bottom: 2em;
      gap: 2em;

      h4 {
        font-weight: normal;
      }

      // Media query for smaller screens
      @media screen and (max-width: 768px) {
        padding: 1em;
        gap: 1em;
      }
    }

  }

}

.daterange {
  margin-bottom: 0.2em;
}

.compilation-box {

  margin: 0.5em;
  border: solid 2px var(--color-border);
  padding: 1.5em;

  width: 321px;
  min-height: 200px;
  max-height: 200px;


  h4 {
    font-weight: normal;
  }

  transition: transform 0.3s ease,
  box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--color-border);
  }

  .category {
    margin-bottom: 0.1em;
    text-transform: none;
    letter-spacing: 0.16em;
    font-size: 0.8em;
  }
}

.postbox {
  position: relative; // Added to make the date position relative to this box
  margin-bottom: 2em;
  padding: 1.5em;
  border: solid 2px var(--color-border);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--color-border);
  }

  .date {
    position: absolute;
    top: 20px;
    right: 10px;
    font-style: italic;
  }
}


.courses ul li {
  display: inline;
}

.course-dot {
  display: inline;
  // display: none;
}

@include breakpoint(small) {
  .course-dot {
    display: none;
  }

  .course-container a {
    display: block;
  }
}
