/* Posts */

#posts {
  .link-to {
    position: relative;
    top: -4.5em;
  }

  .link-container h4 {
    text-decoration: none;
    border-bottom: none;
    display: inline-flex;

    a {
      padding: 0 0.5em;
      margin: 0;
    }
  }

  .postslist {
    .title {
      text-align: center;
      margin-bottom: 2em;
    }
  }

  .compilations {

    // margin-bottom: 2em;
    .title {
      text-align: center;
    }

    .compilation-container {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      padding-bottom: 2em;
      gap: 2em;

      h4 {
        font-weight: normal;
      }

      // Media query for smaller screens
      @media screen and (max-width: 768px) {
        padding: 1em;
        gap: 1em;
      }
    }

  }

}

.daterange {
  margin-bottom: 0.2em;
}

.postbox {
  position: relative; // Added to make the date position relative to this box
  margin-bottom: 2em;
  padding: 1.5em 1.5em 1em 1.5em;
  border: solid 2px var(--color-border);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0.5em var(--color-border);
  }

  h3 {
    font-size: 1em;
    font-weight: _font(weight-heading-bold);
  }

  .category {
    font-size: 0.9em;
    font-weight: _font(weight-heading-bold);
  }

  .date {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    font-style: italic;
    font-size: 0.9em;
    font-weight: _font(weight-heading);
  }

  p {
    font-size: 0.9em;
  }
}


.courses ul li {
  display: inline;
}

.course-dot {
  display: inline;
  // display: none;
}

@include breakpoint(small) {
  .course-dot {
    display: none;
  }

  .course-container a {
    display: block;
  }
}
