///
/// Activities Component
/// Displays a timeline of recent activities
///

/* Activities */

.activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;

  h2 {
    font-size: 1.2em;
    margin: 0 0 1em 0;
    color: var(--color-fg-bold);
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }


  .activities-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0em;
    border-bottom: 1px solid var(--color-border);
    transition: background-color 0.3s ease;
    font-size: 0.9em;

    &:hover {
      background-color: var(--color-bg-alt);
      padding-left: 0.5em;
      margin-left: -0.5em;
      border-radius: 0px;
    }

    &:last-child {
      border-bottom: none;
    }

    .activity-date {
      flex-shrink: 0;
      min-width: 5em;

      .date {
        display: inline-block;
        font-weight: 600;
        font-size: 0.9em;
        color: var(--color-fg-bold);
        font-family: _font(family);
      }
    }

    .activity-date + .activity-date {
      flex: 1;
      min-width: 0;

      span {
        display: block;
        font-size: 0.9em;
        line-height: 1.6;
        color: var(--color-fg);
        font-weight: 500;
      }
    }
  }

  // Responsive adjustments
  @media screen and (max-width: 736px) {
    .activities-entry {
      flex-direction: column;
      gap: 0.5em;
      padding: 0.8em 0;

      .activity-date {
        min-width: auto;

        .date {
          font-size: 0.8em;
        }
      }

      .activity-date + .activity-date span {
        font-size: 0.8em;
      }
    }
  }
}
