// LogoSection.module.scss

.logo {
    display: inline-block;
    margin: 0;
    padding: 0;
}
  
.logo img {
    display: block;
}
  
.logoContainer {
    display: flex;
    align-items: center;
}
  
.logoContainer .logo {
    margin-right: 10px; // Adjust the spacing as needed
}
  