html {
  font-size: var(--font-size-root);
  min-width: 320px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
svg,
canvas {
  display: block;
  max-width: 100%;
}
